<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>735242902235-jnogq3ina1iea2a031oaq3n3ako4i605.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.735242902235-jnogq3ina1iea2a031oaq3n3ako4i605</string>
		<key>API_KEY</key>
		<string>AIzaSyCYGPIINGx0EFCORdCxe8Ipk7reQrHmBaU</string>
		<key>GCM_SENDER_ID</key>
		<string>735242902235</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.rsudaa.simpersaa</string>
		<key>PROJECT_ID</key>
		<string>mirai-simpersaa</string>
		<key>STORAGE_BUCKET</key>
		<string>mirai-simpersaa.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:735242902235:ios:7978d9afb643b23231cafe</string>
	</dict>
</plist>